/* 
/* Start main menu
*/
.main_menu {float: right;
}
.main_menu .nav > li > a { margin-right: 5px; margin-top: 14px; text-transform:uppercase; color: #333; border: 1px solid transparent;
-webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-o-transition: all 300ms linear;
transition: all 300ms linear;;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active {
	color: #777;  background-color: transparent !important; border: 1px solid rgba(255,255,255,0.3); 
}

.nav.menu li {
	float:left; 
	display:inline-table; 
	position:relative;
	z-index:500; 
}

.main_menu .nav.menu li a {
	display:block;
	font-size: 16px; 	
	padding: 9px 13px;
	text-decoration:none; 
}

.nav.menu ul,.nav.menu ul li ul {
	position:absolute; 
	left:0; 
	display:none; 
	padding:0; 
	list-style:none;
}
.nav.menu ul li a {width: 200px;}
.nav.menu ul li ul {
	left: 100%;
	top:0;
}
.nav.menu ul li {
	width:200px;
	height: 38px; 
	float:left; 
}
.nav.menu li ul {
	color:#333 !important;background-color:rgba(255,255,255,0.85); 
	border: 1px solid #bbb; 
    text-align: left;	
    box-shadow:0 0 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.1);
}
.main_menu .nav.menu .nav-child a {
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.1);
 	line-height: 20px !important;
	padding: 8px 12px;
	font-size: 12px; 
	color: #333

}

#mx-mainmenu {position:relative; z-index: 1000;padding: 0px;margin:0px; }
